.row{
     float: left;
            margin: 0;
 }  

 .dayForecast {
            width: 390px;
            float: left;
        }

.temperature {
    font-size: 26pt;
    width: 30px;
    height: 30px;
    float: left;
    padding: 13px 1px;
}

.temperatureAndImage {
    width: 170px;
}
