<div class="cities">
    <div class="cityHeader">The Forecast for the next week...</div>
    <br/>
    <span class="cityInputLable">Enter City Name</span>
    <br/>
    <input ng-model="$ctrl.cityName" ng-change="$ctrl.GetCities()"/>
    <br/>
    <ul>
        <li ng-repeat="city in $ctrl.Cities">
            <a href="#!/weather/{{city.zip}}">
                {{city.city}}
            </a>
        </li>
    </ul>
</div>
<style>
    .cities {
        height: 400px;
        width: 400px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
        padding: 15px;
        text-align: center;
        background-color: #eee;
    }
    .cityHeader {
        font-size: 22pt;
        width: 244px;
        /*border: 1px solid #000000;*/
        word-wrap: break-word;
        padding: 10px;
        text-align: center;
        margin: 0 auto;
    }
</style>